
* {
  font-family: 'Open Sans', sans-serif;
}

/* Utilities */
.display-none {
  display: none;
}

.a-learn {
  display: block;
  text-decoration: none;
}

/* Menu */
.menu {
  line-height: 80px;
}

.list ul {
  text-align: right;
}
.list li{
  display: inline-block;
  padding: 0px 7px;
  text-transform: uppercase;
  font-size: 14px;
}

.list a {
  text-decoration: none;
  color: black;
}

/* Jumbotron */
.jumbotron {
height: 550px;
background-image: url('hero-bg.jpg');
background-size: cover;
position: relative;
}

.text-jumbotron {
position: absolute;
text-align: center;
color: #fff;
top: 50%;
transform: translateY(-60%);
}

.jumbotron h1,
.jumbotron h4 {
  margin-bottom: 20px;
}

/* Model */
.model {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 45px;
}


.model-bike {
  padding: 30px;
  background: #fafafa;
}


.model-bike img {
  width: 50%;
}

/* Banner */
.banner {
  height: 400px;
  margin-bottom: 200px;
  background-image: url('img/helbiz-banner.jpg');
  background-size: cover;
  background-position: left center;
}

.banner .col-left,
.banner .col-right {
  margin-top: 450px;
}

.col-left {
  text-align: right;
}

.col-left .text {
  display: inline-block;
  text-align: left;
  font-size: 25px;
}

.col-right .text {
  padding-top: 10px;
}

@media screen and (min-width: 992px) {
  .display-none {
    display: block;
  }
}

.col-center {
  text-align: center;
}

.col-center img {
  max-height: 500px;
  max-width: 100%;
  margin-top: 90px;
}

/* Mobility */
.mobility {
  background-image: url('img/scooter-bg.jpg');
  height: 400px;
  background-size: cover;
  position: relative;
}

.text-mobility {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 25%;
  right: 15%;
}

.text-mobility p {
  font-size: 40px;
}

.text-mobility .a-learn {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
}

/* app and find */
.app-left,
.find-right {
  margin: 20px 0;
}

.app-left {
  padding-left: 0;
}

.find-right {
  padding-right: 0;
}

.app-box,
.find-box {
  height: 400px;
  text-align: center;
  color: #fff;
  line-height: 45px;
  padding-top: 20px;
}

.app-box {
  position: relative;
  background: #344352;
}

.app-box img {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 450px;
  height: 250px;
}

.app-box p,
.find-box p {
  font-size: 30px;
}

.app-box a,
.find-box a {
  color: #fff;
}

.find-box {
  background-image: url('img/cities.jpg');
  background-size: cover;
  background-position: center;
}

/* Mosaic */
.mosaic {
  background-image: url('img/social-banner.jpg');
  background-size: cover;
  height: 400px;
  position: relative;
}

.family {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 30px 70px;
 transform: translate(-50%,-50%);
}
